.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;  
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App a {
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.App h1 {
  font-size: 4rem;
  margin: 10px auto;
  border-bottom: 1px solid black;
}

.App .Users {
  margin: 20px auto;
}

.App .Users h3 {
  font-size: 3rem;
  margin: 10px;
}

.App .Users .user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App .Users .user-list .user {
  margin: 15px;
  color: white;
}

.App .Users .user-list .user a{
  color: white;
  text-decoration: none;
}

.App .Users .user-list .user a:hover{
  text-decoration: underline;
}

.App .user h3 {
  font-size: 3rem;
  margin: 20px;
}

.App .user .post-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App .user .post-list .post {
  font-size: 1.8rem;
  margin: 15px 8px;;
}